.session-card {
    max-width: 400px;
  }

  .sessioninfo
  {
      font-family: Inconsolata, monospace;
      color:blue;
      font-size: x-small;
      margin-right: 10px;
  }

  .title{
    font-family: Inconsolata, monospace;
    font-weight: 600;
    margin-right: 12px;
}